#input-container {
    border: solid black 2px;
}

.input-label {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

#canvas {
    border: solid black 2px;
    height: 600px;
    width: 600px;
    background-color: darkgrey;
    position: relative;
}

#output {
    border: solid black 2px;
    background-color: gold;
}

.rectangle {
    background-color: #000;
    border: 1px solid #fff;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

